# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [202]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [203]:
chip = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep = "\t")
chip

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [204]:
chip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [205]:
chip.sort_values("item_price")

,order_id,quantity,item_name,choice_description,item_price
261,113,1,Canned Soda,[Mountain Dew],$1.09
1805,730,1,Canned Soda,[Sprite],$1.09
1030,424,1,Canned Soda,[Diet Dr. Pepper],$1.09
3020,1201,1,Canned Soda,[Diet Dr. Pepper],$1.09
3021,1201,1,Bottled Water,NaN,$1.09
...,...,...,...,...,...
4547,1807,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4391,1752,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Pinto Beans...",$9.39
2600,1032,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$9.39
4241,1693,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4390,1751,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.39

In [206]:
chip["item_price"] = chip["item_price"].str[1:].astype(float)
chip

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [207]:
chip_max = chip.sort_values(by= "item_price", ascending= False)

chip_max[0:1]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 4. How many products cost more than $10.00?

In [208]:
mask = chip['item_price'] > 10
mask

0       False
1       False
2       False
3       False
4        True
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: item_price, Length: 4622, dtype: bool

In [209]:
chip_mayor10 = chip.loc[mask,:]

print(f"De un total de {chip.shape[0]}, {chip_mayor10.shape[0]} son mayores a 10$.")
chip_mayor10

De un total de 4622, 1130 son mayores a 10$.

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

Extra: CuÃ¡ntos pedidos se han hecho con un producto de mÃ¡s de 10$

In [210]:
mask_ud = chip["quantity"] == 1
chip_ud = chip.loc[mask_ud,:]
chip_ud = chip_ud.loc[mask,:]
print(f"Se han realizado un total de {chip_ud.shape[0]} pedidos de 1 ud. con valor mayor a 10$.")
chip_ud

Se han realizado un total de 997 pedidos de 1 ud. con valor mayor a 10$.

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

### Step 5. What is the price of each item? Get only item_name and unit_price

In [215]:
# Crea una nueva columna llamada unit_price
chip.loc[:,"unite_price"] = chip.loc[:,"item_price"] / chip.loc[:,"quantity"]
chip

,order_id,quantity,item_name,choice_description,item_price,unite_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

### Step 6. Sort by the name of the item

In [218]:
chip = chip.sort_values(by= "item_name")
chip

,order_id,quantity,item_name,choice_description,item_price,unite_price
3614,1448,1,6 Pack Soft Drink,[Nestea],6.49,6.49
1392,566,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
3789,1517,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1124,465,1,6 Pack Soft Drink,[Coke],6.49,6.49
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
...,...,...,...,...,...,...
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [230]:
chip.sort_values(by= "unite_price", ascending=False).iloc[0]

order_id                                                            644
quantity                                                              1
item_name                                              Steak Salad Bowl
choice_description    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
item_price                                                        11.89
unite_price                                                       11.89
Name: 1590, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [241]:
mask_salad = chip["item_name"] == "Veggie Salad Bowl"

chip_salad = chip.loc[mask_salad,:]
print(f"La Veggie Salad Bowl se ha pedido un total de {chip_salad.shape[0]} veces")
chip_salad

La Veggie Salad Bowl se ha pedido un total de 18 veces

,order_id,quantity,item_name,choice_description,item_price,unite_price
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25,11.25
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75,8.75
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75,8.75
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25,11.25
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75,8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25,11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25

### Step 9. How many times did someone order more than one Canned Soda?

In [254]:
mask_soda = chip["item_name"] == "Canned Soda"
chip_soda = chip.loc[mask_soda,:]
chip_soda

,order_id,quantity,item_name,choice_description,item_price,unite_price
117,51,1,Canned Soda,[Diet Dr. Pepper],1.09,1.09
2520,1001,1,Canned Soda,[Coca Cola],1.09,1.09
1217,496,1,Canned Soda,[Diet Dr. Pepper],1.09,1.09
1662,672,1,Canned Soda,[Diet Coke],1.09,1.09
3476,1396,1,Canned Soda,[Coca Cola],1.09,1.09
...,...,...,...,...,...,...
2493,990,1,Canned Soda,[Coca Cola],1.09,1.09
821,338,1,Canned Soda,[Coca Cola],1.09,1.09
2961,1177,1,Canned Soda,[Sprite],1.09,1.09
179,81,1,Canned Soda,[Coca Cola],1.09,1.09
378,164,1,Canned Soda,[Mountain Dew],1.09,1.09

In [255]:
mask_soda2 = chip_soda["quantity"] >1
mask_soda2

117     False
2520    False
1217    False
1662    False
3476    False
        ...
2493    False
821     False
2961    False
179     False
378     False
Name: quantity, Length: 104, dtype: bool

In [260]:
chip_soda_morethanone = chip_soda.loc[mask_soda2,:]
print(f"Se han realizado un total de {chip_soda_morethanone.shape[0]} pedidos con mas de una Canned Soda.")
chip_soda_morethanone

Se han realizado un total de 20 pedidos con mas de una Canned Soda.

,order_id,quantity,item_name,choice_description,item_price,unite_price
909,376,2,Canned Soda,[Mountain Dew],2.18,1.09
3592,1440,2,Canned Soda,[Diet Coke],2.18,1.09
1091,450,2,Canned Soda,[Dr. Pepper],2.18,1.09
3866,1550,2,Canned Soda,[Mountain Dew],2.18,1.09
698,287,2,Canned Soda,[Coca Cola],2.18,1.09
700,288,2,Canned Soda,[Coca Cola],2.18,1.09
2905,1156,2,Canned Soda,[Coca Cola],2.18,1.09
352,151,2,Canned Soda,[Coca Cola],2.18,1.09
3364,1349,2,Canned Soda,[Coca Cola],2.18,1.09
1944,787,2,Canned Soda,[Dr. Pepper],2.18,1.09
1092,450,2,Canned Soda,[Coca Cola],2.18,1.09
350,150,2,Canned Soda,[Diet Coke],2.18,1.09
2235,901,4,Canned Soda,[Sprite],4.36,1.09
2906,1156,2,Canned Soda,[Sprite],2.18,1.09
51,23,2,Canned Soda,[Mountain Dew],2.18,1.09
171,76,2,Canned Soda,[Diet Dr. Pepper],2.18,1.09
3152,1258,2,Canned Soda,[Dr. Pepper],2.18,1.09
162,73,2,Canned Soda,[Diet Coke],2.18,1.09
2135,859,2,Canned Soda,[Diet Coke],2.18,1.09
18,9,2,Canned Soda,[Sprite],2.18,1.09